{% extends 'base.html.twig' %}

{% block title %}Make Reservation{% endblock %}

{% block body %}

        <style>

            html,body{ 
                background:#FF6B95;
                height: 100%;
            }

            h2{ 
                color:white;
            }

            p{ 
                color:white;
            }

        </style>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Make Reservation</h1>
    </div>

    <div class="container">
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
            {{ form_row(form._token) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.checkinDate, {'attr': {'class': 'form'} }) }}
            </div>
            <div class="col">
                {{ form_row(form.checkoutDate, {'attr': {'class': 'form'}}) }}
            </div>
        </div>
    {{ form_end(form) }}
    </div>    

{% endblock %}
