{% extends 'base.html.twig' %}

{% block title %}Open Rooms{% endblock %}

{% block body %}

        <style>

            html,body{ 
                background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
                height: 100%;
            }

            h2{ 
                color:white;
            }

        </style>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Results</h1>
    </div>

    <div class="container">
    <div class="row">
        {% for room in rooms %}
         <div class="col-md-4" style="margin-top:20px;margin-bottom:20px;">
          <div class="card">
            {% for image in room.image %}
            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" class="card-img-top" style="height: 225px; width: 100%; display: block;">
          {% endfor %}
            <div class="card-body">
              <h5 class="card-title">{{ room.roomname}}</h5>
              <h5 class="pricing-card-title">€ {{ room.price }} <small class="text-muted">/ a day</small></h1>
          {% for extra in room.extra %}    
              <p class="card-text">{{ extra.description|length > 60 ? extra.description|slice(0, 60) ~ '...' : extra.description }}</p>
              <h5 class="pricing-card-title">€ {{ extra.extraPrice }} <small class="text-muted">/ one time payment</small></h1>
          {% endfor %}   
              <p class="card-text">{{ room.typeId }}</p>
              <a class="btn btn-outline-secondary" href="/makereservation/book">Book</a>
            </div>
          </div>
        </div>
          {% endfor %}
    </div>
</div>

{% endblock %}
