{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
        <style>
                html,body{ 
                background:#FF6B95;
                height: 100%;
                }
        </style>
<div class="container">
    {% for reservation in reservations %}
     <table class="table">
        <tbody>
        <h1>Reservation from <b>{{ reservation.checkinDate ? reservation.checkinDate|date('Y-m-d') : '' }}</b> to <b>{{ reservation.checkoutDate ? reservation.checkoutDate|date('Y-m-d') : '' }}</b></h1>
           <tr>
                <th>Code</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ reservation.room }}</td>
            </tr>
            <tr>
                <th>checkin Date</th>
                <td>{{ reservation.checkinDate ? reservation.checkinDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Checkout Date </th>
                <td>{{ reservation.checkoutDate ? reservation.checkoutDate|date('Y-m-d') : '' }}</td>
            </tr>       
        </tbody>
    </table>
{% endfor %} 
</div>
{% endblock %}
